# App
APP_NAME=athena
APP_KEY=
APP_ENV=local
APP_PORT=8081
APP_HOST=omaxplatform.ir
APP_TZ=Asia/Tehran
NGINX_PORT=443


# Database
DB_DRIVER=postgres
DB_HOST=postgres.omaxplatform.ir
DB_PORT=5432
DB_DATABASE="athena-api"
DB_USERNAME="athena"
DB_PASSWORD="myawesomepassword"
DB_SSL_MODE=verify-full
DB_MAX_OPEN_CONNECTIONS=100
DB_MAX_IDLE_CONNECTIONS=50
DB_CONNECTION_MAX_LIFETIME=3600


# Cache
CACHE_DRIVER=redis
REDIS_USERNAME=default
REDIS_PASSWORD="myawesomepassword"
REDIS_HOST=redis.omaxplatform.ir
REDIS_PORT=6379
REDIS_DATABASE=0

# Queue
QUEUE_DRIVER=rabbitmq
RABBITMQ_HOST=rabbitmq.omaxplatform.ir
RABBITMQ_USERNAME=fund-app
RABBITMQ_PASSWORD="myawesomepassword"
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# SSL
SSL_CERT_PATH=/etc/ssl/athena/certs/fullchain.pem
SSL_KEY_PATH=/etc/ssl/athena/certs/privkey.pem