# App
APP_NAME=athena
APP_ENV=local
APP_PORT=8081
APP_HOST=omaxplatform.ir
APP_TZ=Asia/Tehran

#Nginx
NGINX_PORT=8804

# Database
DB_DRIVER=postgres
DB_HOST=postgres.omaxplatform.ir
DB_PORT=5431
DB_EXTERNAL_PORT=5432
DB_DATABASE="athena-api"
DB_USERNAME="athena"
DB_PASSWORD="myawesomepassword"
DB_SSL_MODE=verify-full
DB_MAX_OPEN_CONNECTIONS=100
DB_MAX_IDLE_CONNECTIONS=50
DB_CONNECTION_MAX_LIFETIME=3600

# Vault
VAULT_HOST=https://vault.omaxplatform.ir
VAULT_PORT=8200
VAULT_TOKEN=

# SSL
SSL_CERT_PATH=/etc/ssl/athena/certs/fullchain.pem
SSL_KEY_PATH=/etc/ssl/athena/certs/privkey.pem