# App
APP_NAME=athena
APP_KEY=base64:ZojrKXDM4eBmTEZ0GApW82O3azhOJn5DlEE769fktrM=
APP_ENV=production
APP_PORT=8081
APP_HOST=athena
APP_TZ=Asia/Tehran
APP_ALLOWED_ORIGINS=https://app.31.47.58.116,http://app.31.47.58.116:8231,https://app.31.47.58.116:8232,http://localhost:3000,http://localhost:3001
APP_ALLOWED_GIN=app.31.47.58.116:8231,app.31.47.58.116:8232
NGINX_PORT=443


#Log
LOG_FILE_NAME=paresh.log
LOG_MAX_SIZE_MB=500
LOG_MAX_DAY=30
LOG_LEVEL=debug
LOCAL_LOG_FILE_PATH=log/
LOCAL_LOG_FILE_NAME=athena.log

# JWT
JWT_ACCESS_TOKEN_LIFETIME_USER=180000
JWT_REFRESH_TOKEN_EXPIRATION_USER=3600000
REGISTER_SAVE_STATE_LIFETIME=300
REGISTER_COOKIE_KEY_NAME=register_key
LOGIN_SAVE_STATE_LIFETIME=3000
LOGIN_COOKIE_KEY_NAME=login_key
RECOVER_PASSWORD_LIFETIME=300
RECOVER_PASSWORD_COOKIE_KEY_NAME=recover_password_key

# COOKIE
COOKIE_EXPIRATION=1800
COOKIE_PATH=/
COOKIE_NAME=refresh_token
COOKIE_HOST=

# Hash
# Available drivers are: argon2,pbkdf2,bcrypt,scrypt (Ordered by OWASP suggestions.)
HASH_DRIVER=argon2
HASH_LENGTH=32
SALT_LENGTH=16

#ENCRYPT
ENCRYPT_DRIVER=aes
ENCRYPTION_SECRET=e49a8810a11772acbf9073352d123825

# Database
DB_DRIVER=postgres
DB_HOST=postgresql.athena
DB_PORT=5433
DB_DATABASE="athena-api"
DB_USERNAME="athena"
DB_PASSWORD="password"
DB_SSL_MODE=disable
DB_MAX_OPEN_CONNECTIONS=100
DB_MAX_IDLE_CONNECTIONS=50
DB_CONNECTION_MAX_LIFETIME=3600


# Cache
CACHE_DRIVER=redis
REDIS_USERNAME=default
REDIS_PASSWORD="password"
REDIS_HOST=redis.athena
REDIS_PORT=6378
REDIS_DATABASE=0

# RabbitMQ
QUEUE_DRIVER=rabbitmq
RABBITMQ_HOST=rabbitmq.app
RABBITMQ_USERNAME=athena-user
RABBITMQ_PASSWORD="password"
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# RATE_LIMITER
RATE_LIMITER_DEFAULT_LIMIT=120
RATE_LIMITER_DEFAULT_PERIOD_PER_SECOND=60
RATE_LIMITER_CRITICAL_LIMIT=3
RATE_LIMITER_CRITICAL_PERIOD_PER_SECOND=60
RATE_LIMITER_REGISTER_CRITICAL_LIMIT=3
RATE_LIMITER_REGISTER_CRITICAL_PERIOD_PER_SECOND=1800
RATE_LIMITER_LOGIN_CRITICAL_LIMIT=5
RATE_LIMITER_LOGIN_CRITICAL_PERIOD_PER_SECOND=300


# Vault
VAULT_HOST=http://vault.athena
VAULT_PORT=8200
VAULT_TOKEN=your-vault-token-here

# SSL
SSL_CERT_PATH=/home/mobina/GolandProjects/athena/build/certs/app/fullchain.pem
SSL_KEY_PATH=/home/mobina/GolandProjects/athena/build/certs/app/privkey.pem